asgiref
Babel
behave
certifi
chardet
click
dj-database-url
Django
django-extra-views
django-haystack
django-localflavor
django-oscar
django-oscar-paypal
django-oscar-stores
django-phonenumber-field
django-pyscss
django-sass
django-tables2
django-treebeard
django-widget-tweaks
factory-boy=
Faker
Flask
idna
itsdangerous
Jinja2
libsass
MarkupSafe
osgeo4w-installer
parse
parse-type
phonenumbers
Pillow
psycopg2
purl
pycountry
pyScss
python-dateutil
python-stdnum
pytz
requests
selenium
six
sorl-thumbnail
sqlparse
text-unidecode
urllib3
Werkzeug
