{% extends "oscar/layout.html" %}
{% load i18n %}
{% load product_tags %}
{% block title %}
{% trans "Boutiques" %} | {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'boutique:index' %}">{% trans "Boutiques" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ partner.name }}</li>
        </ol>
    </nav>
{% endblock %}
{% block headertext %}
    {% trans "Boutique" %}
{% endblock %}
{% block content %}
    <h2>{{ partner.name }}</h2>
    {% with addresses=partner.addresses.all %}
        {% if addresses %}
            <ul>
            {% for address in addresses %}
                {{ address.summary }}
            {% endfor %}
            </ul>
        {% else %}
            {% trans 'No address associated.' %}
        {% endif %}
    {% endwith %}
{% endblock content %}